<a href="https://colab.research.google.com/github/DaymondMartin/basic-ml-course/blob/master/Martin_Irungu_solution_for_lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment 1 (1 pt)**

Write a function is_triangle to check the validity of a triangle. This function should receive 3 parameters corresponding to the length of 3 edges. It should return boolean True if all 3 edges can form a triangle, else it returns False.

In [ ]:
def is_triangle(a, b, c):
    if a+b>=c and b+c>=a and c+a>=b:
      return True
    else:
      return False
  

print(is_triangle(1, 2, 3))  # Expected output: False
print(is_triangle(2, 2, 3))  # Expected output: True

True
True

# **Assignment 2 (1 pt)**

Print odd numbers from 1 to 10 using for loop and range.

Expected output:
  
  1
  3
  5
  7
  9

In [ ]:
for x in range (1,10,2):
  print (x)

1
3
5
7
9

#**Assignment 3 (1 pt)**

Write a function get_reverse that return a reversed string.

Input: Kenya

Output: ayneK

In [ ]:
def get_reverse(text):
    text = text[::-1]  
    return text
    
x = input("Kenya")
print(get_reverse(x))

#**Assignment 4 (1 pt)**

Write a function that return a new set that contains elements that are either in set a or b but not both.

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1.symmetric_difference(set2)

print(set3)

Assignment 5 (1 pt)

Write a function remove_from_list that remove all occurrances of a value from a list.

def remove_from_list(input_list, value):
    # Write your code here
    pass  # Remove this line

a = [10, 20, 10, 30, 40, 50, 10, 0]

remove_from_list(a, 10)

print(a)  
# Expected output: [20, 30, 40, 50, 0]

In [5]:
def remove_from_list(input_list, value):

        input_list = [x for x in input_list if x != value]
        return input_list

y = [10, 20, 10, 30, 40, 50, 10, 0]
y = remove_from_list(y, 10)
print(y)

[20, 30, 40, 50, 0]

#**Assignment 6 (1 pt)**

Complete the following class by: (1 pt)

Write code that assign name and score to the object.
Write method get_score that return score attribute of the object.
Write method describe that print <student name>: <student score>.

In [7]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def get_score(self):
        return self.score
    
    def describe(self):
        return self.name + ": " + str(self.score)

student = Student("Martin", 97)
print(student.get_score())  
student.describe()

97

'Martin: 97'

#**Assignment 7 (1 pt)**

Complete the Employee class by:

Write code that calls the __init__ method of the base class to initialize attributes.
Write a speak method that receives a word as its parameter and outputs "Employee <employee name> spoke <word>"

In [2]:
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " said"

class Employee(Person):
    def __init__(self, name):
        super().__init__(name)
        

    def speak(self, word):
        return "Employee" +" " +self.name+ " " "said" +" " +word
        

employee = Employee("Martin")
print(employee.speak("hi"))

Employee Martin said hi

#**Assignment 8 (1 pt)**

Print all the key-value pairs of a dictionary using for loop. Each line is a key-value pair.

Hint: to get all the keys of a dictionary, use .keys().

In [8]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for key,value in country_capital.items():
    print(key, " - ", value)

japan  -  tokyo
vietnam  -  hanoi
france  -  paris

#**Assignment 9 (2 pt)**

Write a function solve_equation to solve equation ax^2 + bx + c = 0. (1 pt)

If equation has no solutions, print No solution.
If equation has one solution, print Equation has one solution <x> (<x> is the value of the solution)
If equation has two solutions, print Equation has two solutions <x1> and <x2> (<x1> and <x2> are the values of the solution)

In [3]:
import math

def solve_equation(a, b, c):


    discriminant = b * b - 4 * a * c #quadratic formula

    sqrt_dis = math.sqrt(abs(discriminant))


    if discriminant > 0: # if b^2 - 4ac > 0 
        print(" Equation has two solutions") 
        print(str((-b + sqrt_dis)/(2 * a))) 
        print(str((-b - sqrt_dis)/(2 * a))) 


    elif discriminant == 0: # if b^2 - 4ac = 0
        print(" Equation has one solution: " + str(-b / (2 * a)) ) 
  
    
    else:
        print("Equation has no solution") 
    

solve_equation(1,14,49)

 Equation has one solution: -7.0